@font-face {
    font-family: 'Raleway Bold';
    font-style: Bold;
    src: local('Raleway Bold'),
        url(fonts/Raleway-Bold.woff2) format('woff2'),
        url(fonts/Raleway-Bold.woff) format('woff'),
        url(fonts/Raleway-Bold.ttf) format('ttf'),
        url(fonts/Raleway-Bold.eot) format('eot');
}

@font-face {
    font-family: 'Raleway Regular';
    font-style: Regular;
    src: local('Raleway Regular'),
        url(fonts/Raleway-Regular.woff2) format('woff2'),
        url(fonts/Raleway-Regular.woff) format('woff'),
        url(fonts/Raleway-Regular.ttf) format('ttf'),
        url(fonts/Raleway-Regular.eot) format('eot');
}

@font-face {
    font-family: 'Open Sans Bold';
    font-style: Bold;
    src: local('Open Sans Bold'),
        url(fonts/OpenSans-Bold.woff2) format('woff2'),
        url(fonts/OpenSans-Bold.woff) format('woff'),
        url(fonts/OpenSans-Bold.ttf) format('ttf'),
        url(fonts/OpenSans-Bold.eot) format('eot');
}

@font-face {
    font-family: 'Open Sans Regular';
    font-style: Regular;
    src: local('Open Sans Regular'),
        url(fonts/OpenSans-Regular.woff2) format('woff2'),
        url(fonts/OpenSans-Regular.woff) format('woff'),
        url(fonts/OpenSans-Regular.ttf) format('ttf'),
        url(fonts/OpenSans-Regular.eot) format('eot');
}

@font-face {
    font-family: 'Open Sans Semibold';
    font-style: Semibold;
    src: local('Open Sans Semibold'),
        url(fonts/OpenSans-SemiBold.woff2) format('woff2'),
        url(fonts/OpenSans-SemiBold.woff) format('woff'),
        url(fonts/OpenSans-SemiBold.ttf) format('ttf'),
        url(fonts/OpenSans-SemiBold.eot) format('eot');
}

@font-face {
    font-family: 'Raleway Medium';
    font-style: Medium;
    src: local('Raleway Medium'),
        url(fonts/Raleway-Medium.woff2) format('woff2'),
        url(fonts/Raleway-Medium.woff) format('woff'),
        url(fonts/Raleway-Medium.ttf) format('ttf'),
        url(fonts/Raleway-Medium.eot) format('eot');
}

$darkgray: #333333;
$orange: #EC7979;
$formcolor: #BDBDBD;
$pink: #F8EFEF;
$lightgray: #86878B;
$tabscolor: #C6CBCD;
$pricing: #F5F5F5;

@mixin fonts ($ff, $fs, $fw, $fsz, $lh) {
    font-family: $ff;
    font-style: $fs;
    font-weight: $fw;
    font-size: $fsz;
    line-height: $lh;
}

body {
    margin: 0px;
    width: 1510px;
    overflow-x: hidden;
}

.first-block {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('images/image.svg');
    height: 1026px;
    z-index: 0;
}

.header {
    height: 75px;
    background: #000000;
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo {
    margin-left: 115px;
}

.logo__one {
    width: 52px;
    height: 31px;
}

.logo__two {
    width: 32px;
    height: 31px;
    margin-left: -3px;
}

.menu {
    height: 100%;
    width: 570px;
    display: flex;
    margin-left: 568px;
}

.menu__section {
    color: white;
    @include fonts (Open Sans Semibold, Semibold, 600, 14px, 19px);
    width: 114px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-and-form-wrap {
    height: 951px;
    display: flex;
    align-items: center;
}

.first-block__text {
    margin-left: 170px;
    width: 670px;
}

.logo-one-big {
    width: 102px;
    height: 55px;
}

.logo-two-big {
    width: 63px;
    height: 55px;
    margin-left: -10px;
}

.first-block__text__one {
    @include fonts(Raleway Medium, Medium, 500, 48px, 56px);
    color: white;
    margin-top: 73px;
}

.separator {
    width: 170px;
    height: 0px;
    border: 1px solid white;
    margin-top: 55px;
}

.first-block__text__two {
    width: 270px;
    height: 42px;
    @include fonts(Raleway Regular, Regular, 400, 18px, 21px);
    color: white;
    margin-top: 42px;
    margin-bottom: 42px;
}

.button {
    width: 270px;
    height: 58px;
    @include fonts(Open Sans Semibold, Semibold, 600, 18px, 0);
    background: none;
    color: white;
    border: 2px solid white;
}

.form {
    width: 470px;
    height: 450px;
    background: white;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    width: 367px;
    height: 90px;
    @include fonts(Open Sans Bold, Bold, 700, 24px, 33px);
    color: $darkgray;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange {
    color: $orange;
}

.inputs {
    margin-top: 12px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    width: 370px;
    height: 48px;
    margin-top: 33px;
    @include fonts(Open Sans Regular, Regular, 400, 14px, 19px);
    color: $formcolor;
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid $formcolor;
}

.submit {
    width: 470px;
    height: 60px;
    @include fonts(Open Sans Semibold, Semibold, 600, 15px, 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $orange;
    border-radius: 0px 0px 10px 10px;
    color: white;
    border: none;
}

.social-media-block {
    height: 140px;
    background: $pink;
    display: flex;
}

.social-media-block__text {
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    width: 470px;
}

.social-media-block__text__one {
    @include fonts(Open Sans Bold, Bold, 700, 24px, 33px);
    display: flex;
    align-items: center;
    height: 60px;
    color: $darkgray;
}

.social-media-block__text__two {
    @include fonts(Raleway Regular, Regular, 400, 18px, 21px);
    display: flex;
    align-items: center;
    height: 42px;
    margin-top: 18px;
    color: $lightgray;
}

.social-media-block__icons {
    display: flex;
    align-items: center;
    width: 650px;
    justify-content: space-between;
    margin-left: 50px;
}

.icon {
    height: 60px;
    width: 60px;
}

.block-tabs {
    height: 639px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.tabs-section {
    height: 541px;
    width: 1170px;

}

.tabs-section__tabs {
    height: 40px;
    display: flex;
    flex-direction: row;
}

.tabs-section__tab {
    width: 203px;
    height: 40px;
    border-bottom: 1px solid $tabscolor;
    @include fonts(Open Sans Regular, Regular, 400, 14px, 19px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darkgray;
}

.tab-one {
    border: 1px solid $tabscolor;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.border {
    border-bottom: 1px solid $tabscolor;
    height: 40px;
    width: 600px;
}

.tabs-section__main-section {
    width: 1170px;
    height: 499px;
    border-left: 1px solid $tabscolor;
    border-right: 1px solid $tabscolor;
    border-bottom: 1px solid $tabscolor;
    display: flex;
    flex-direction: row;
}

.tabs-section__main-section__text-block {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 570px;

    h3 {
        height: 124px;
        @include fonts(Open Sans Bold, Bold, 700, 30px, 41px);
        display: flex;
        align-items: center;
        color: black;
        margin: 0px;
    }

    h5 {
        margin: 0px;
        margin-top: 27px;
        @include fonts(Raleway Regular, Regular, 400, 18px, 21px);
    }

    p {
        margin: 0px;
    }
}

.exception {
    padding-top: 20px;
}

.tabs-section__main-section__text-block__button {
    width: 270px;
    height: 58px;
    margin-top: 27px;
    background: $orange;
    @include fonts(Open Sans Semibold, Semibold, 600, 18px, 24px);
    align-items: center;
    color: white;
    border: none;
}

.tabs-section__main-section__image {
    margin-left: 32px;
}

.block-awesome {
    height: 773px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .separator {
        border: 1px solid $orange;
        margin-top: 0px;
    }
}

h2 {
    margin: 0px;
    margin-top: 50px;
    width: 1170px;
    height: 150px;
    @include fonts(Raleway Regular, Regular, 400, 36px, 42px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-transform: uppercase;
}

.extra-text {
    display: flex;
    justify-content: center;
    width: 1169px;
    height: 21px;
    @include fonts(Raleway Regular, Regular, 400, 18px, 21px);
    color: $lightgray;
    margin: 0px;
    margin-top: 40px;
}

.block-awesome__groups-wrap {
    width: 1170px;
    height: 415px;
    margin-top: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-awesome__groups {
    width: 370px;
    height: 383px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-awesome__groups__ellipse {
    width: 92px;
    height: 92px;
    border-radius: 100px;
    border: 1px solid $orange;
    margin-top: 39px;
    margin-bottom: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-awesome__groups__title {
    width: 369px;
    height: 100px;
    margin: 0px;
    @include fonts(Open Sans Bold, Bold, 700, 24px, 33px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.block-awesome__groups__extra-text {
    width: 370px;
    height: 105px;
    margin: 0px;
    margin-top: 8px;
    @include fonts(Raleway Regular, Regular, 400, 18px, 21px);
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}

.block-pricing {
    height: 940px;
    background: $pricing;
    display: flex;
    flex-direction: column;
    align-items: center;

    .separator {
        border: 1px solid $orange;
        margin-top: 0px;
    }
}

.prices-wrap {
    margin-top: 79px;
    height: 510px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price {
    width: 370px;
    height: 510px;

    &:hover {
        filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
        margin-top: -20px;
    }
}

%prising-styles {
    background: $darkgray;
    border: 2px solid $pricing;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.price-category {
    height: 60px;
    @extend %prising-styles;
    @include fonts(Open Sans Bold, Bold, 700, 24px, 33px);

}

.how-much {
    height: 100px;
    @include fonts(Open Sans Bold, Bold, 700, 36px, 42px);
    @extend %prising-styles;
}

.terms {
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    @extend %prising-styles;
    @include fonts(Raleway Regular, Regular, 400, 18px, 21px);
}

.facilities {
    height: 50px;
    background: white;
    @include fonts(Raleway Regular, Regular, 400, 18px, 21px);
    @extend %prising-styles;
    text-transform: capitalize;
    color: $lightgray;
}

.block-customers {
    height: 744px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .separator {
        border: 1px solid $orange;
        margin-top: 0px;
    }
}

.reviews-wrap {
    margin-top: 83px;
    height: 336px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.customer {
    width: 370px;
    height: 336px;
    display: flex;
    flex-direction: column;
}

.review {
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
    @include fonts(Raleway Regular, Regular, 400, 18px, 21px);
    display: flex;
    align-items: center;
    text-align: center;
    color: $lightgray;
    padding: 10px;

    &:after {
        content: "";
        margin-left: 65px;
        margin-top: 220px;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid #E2E2E2;
    }
}

.photo-name-job {
    height: 90px;
    margin-top: 46px;
    display: flex;
}

.customers-photo {
    width: 70px;
    height: 70px;
}

.name-job {
    display: flex;
    flex-direction: column;
    width: 269px;
    margin-left: 30px;
}

.name {
    height: 54px;
    @include fonts(Open Sans Bold, normal, 700, 24px, 33px);
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: black;
}

.job {
    height: 21px;
    margin-top: 15px;
    @include fonts(Raleway Regular, Regular, 400, 18px, 21px);
    display: flex;
    align-items: center;
    color: black;
}

.block-design {
    height: 442px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('images/imagee.svg');
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: white;
    }

    .separator {
        margin-top: 0px;
        border: 1px solid white;
    }

    .extra-text {
        color: white;
    }

    .button {
        width: 370px;
        margin-top: 73px;
    }
}

.block-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 722px;

    .separator {
        border: 1px solid $orange;
        margin-top: 0px;
    }

    .submit {
        width: 370px;
        height: 58px;
        margin-top: 50px;
        border-radius: 0px;
    }
}

.block-contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1172px;
    margin-top: 39px;
}

.inputs-column {
    display: flex;
    flex-direction: column;
    width: 571px;
}

.textarea {
    width: 570px;
    height: 35px;
    margin-top: 50px;
    resize: none;
}

.message {
    height: 215px;
}

.footer {
    height: 164px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-footer {
    display: flex;
    justify-content: space-between;
    width: 489px;
    height: 45px;
    margin-top: 41px;
}

.footer-text {
    @include fonts(Raleway Regular, normal, 400, 18px, 21px);
    display: flex;
    align-items: center;
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.5);
}